/* VARIABLES */

$default-font-color: #000;
$nav-link-active-color: #fff;

$nav-active-background: rgb(61, 171, 223);


/* REAL TIME TABLE COLOR */

$rt-head-background: #80b3f7;
$rt-odd-row-background: #dfedff;
$rt-even-row-background: #cbddf5;




